# Ignore environment files 
.venv/

# Ignore full data folders
raw_data/
input_data/lidar_patches_pondinlet_2024/
input_data/s2_patches_pondinlet_2024/
input_data/lidar_patches_tuk/
input_data/s2_patches_tuk/
input_data/lidar_patches_cambridge/
input_data/s2_patches_cambridge/

# Ignore saved models
models/

# Ignore temporary diagnostics
scripts/inspect_lidar_regions_masked.py
diagnostics/

# Ignore login file
copernicus_login.py

# Ignore reconstruction outputs
reconstructions/

# Ignore wandb files
wandb/

# Ignore raw figure outputs
figures/cosine_model/
figures/linear_model/
figures/test/
figures/old_figures/

# Ignore cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore old files
old_stuff/

# Local data
input_data/
