# Ignore environment files 
.venv/

# Ignore full data folders
raw_data/
input_data/lidar_patches_pondinlet/
input_data/s2_patches_pondinlet/
input_data/lidar_patches_tuk/
input_data/s2_patches_tuk/
input_data/lidar_patches_cambridge/
input_data/s2_patches_cambridge/

# Ignore saved models
models/

# Ignore login file
copernicus_login.py

# Ignore reconstruction outputs
reconstructions/

# Ignore wandb files
wandb/

# Ignore raw figure outputs
figures/final_test_cambridge/
figures/final_val_pondinlet/
figures/final_val_tuk/
figures/final_report_figures/

# Ignore cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore old files
old_stuff/
